matplotlib==3.7.1
numpy==1.23.5
pandas==1.5.3
Pillow==10.2.0
python-dotenv==1.0.1
scikit_learn==1.2.2
seaborn==0.13.2
streamlit==1.30.0
xgboost==2.0.3
wandb==0.15.12
fastparquet==2023.10.1
fastcore==1.5.29
ghapi==1.0.4
dvc==3.43.1